.App {
  display: flex;
  margin-bottom: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #688C6A;
}
.app_section{
  background-color: #B3CD8E;
  width: 50%;
  text-align:center;
  border: 5px solid ghostwhite ;
  border-bottom: 5px solid rgb(6, 158, 6);

}





